<div class="row" style="background-color: #1e1e1e; padding: 10px">
  <p-menubar [model]="items" [style]="{'border': '0px'}">
    Jawn's Chess Board and AI
    <img style="width: 25px; height: 25px; float: right; padding-left: 5px" src="img/chesspieces/wikipedia/wP.png" alt="pawn">
  </p-menubar>
</div>
<div class="row justify-content-center align-self-center" style="align-content: center; align-items: center; align-self: center">
  <div class="card"  style="background-color: #242526; padding: 15px; width : 1000px" >
    <div class="row">
      <div class="col-lg-8" style="padding: 15px">
          <div id="board" style="width: 600px" ></div>
      </div>
      <div class="col-lg-4" style="padding: 15px">
        <p-scrollPanel  [style]="{width: '100%', height: '600px', float: 'right', color: 'white', border: '10px', 'border-color': 'white'}">
          <p-splitter  [style]="{'height': height}" [panelSizes]="[20,80]" [minSizes]="[10,0]" styleClass="mb-5">
            <ng-template pTemplate>

            </ng-template>
          </p-splitter>
      </p-scrollPanel>
      </div>
      <div class="row-cols-lg-12" style="padding:15px">
        <p-button icon="pi pi-times" (onClick)="clearBoard()" [style]="{'width': '80px'}" >Clear </p-button>
        <p-button icon="pi pi-sort-alt" (onClick)="flipBoard()" [style]="{'width': '80px', 'margin-left': '10px'}" >Flip </p-button>
      </div>
    </div>
  </div>
</div>




