<div class="row justify-content-center align-self-center" style="align-content: center; align-items: center; align-self: center">
  <div class="card justify-content-between" style="background-color: #242526; padding: 15px; width : 1500px; height:867px" >

    <div class="card" style="width: 18rem;" routerLink="../rando_bot">
      <div class="card-body">
        <h5 class="card-title">
          <i class="pi pi-android"></i>
          RandoBot
        </h5>
        <p class="card-text">This bot will play random moves in response to your moves.</p>
      </div>
    </div>
  </div>
</div>
